@model LoginModel
@{
    ViewData["Title"] = "Login Page";
    Layout = "_LayoutBlank";
}

<div class="row mt-5">
    <div class="col-4 text-center">
    </div>
    <div class="col-4 text-center">
        <div class="card">
            <div class="card-header">
                <span>Login</span>
            </div>
            <div class="card-body">
                <form asp-action="Login" asp-controller="Home" asp-antiforgery="true" method="post">

                    <div class="row">
                        <div class="col-12 text-center text-danger">
                            <span>@ViewBag.ErrorMessage</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="Username"></label>
                                <input asp-for="Username" type="text" class="form-control" />
                                <span asp-validation-for="Username" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="Password"></label>
                                <input asp-for="Password" type="password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <button type="submit" class="btn btn-lg btn-danger">Sign in</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div class="col-4 text-center">
    </div>
</div>
